<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/00_primary_button" target="_blank">Target</a>
</p>

<span class="base-button fancy-button">Click me!</span>
<span class="base-button  scary-button">Be Careful!</span>

<link rel="stylesheet" href="/my_styles.css">
