<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/01_other_buttons" target="_blank">Target</a>
</p>

<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->

<p>
  <a>Primary</a>
</p>

<p>
  <a>Secondary</a>
</p>

<p>
  <a>Success</a>
</p>

<p>
  <a>Danger</a>
</p>

<p>
  <a>Warning</a>
</p>

<p>
  <a>Info</a>
</p>


<p>Less intrusive variants:</p>

<p>
  <a>Primary (unobtrusive)</a>
</p>

<p>
  <a>Secondary (unobtrusive)</a>
</p>

<p>
  <a>Success (unobtrusive)</a>
</p>

<p>
  <a>Danger (unobtrusive)</a>
</p>

<p>
  <a>Warning (unobtrusive)</a>
</p>

<p>
  <a>Info (unobtrusive)</a>
</p>
