<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/02_utility_classes" target="_blank">Target</a>
</p>

<!-- Add utility classes and/or elements as needed to achieve the target appearance. -->

<div>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel ad debitis iste minima molestiae repellat magni? Voluptas, odit voluptate quasi esse ea iure quibusdam error at architecto veritatis, beatae nihil?
</div>
