<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/04_modal" target="_blank">Target</a>
</p>

<!-- Tuck away the following content within a modal. -->

<div>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos quis voluptatibus odit aperiam modi? Dolorem, facere laboriosam nesciunt beatae quasi neque, sequi nobis esse atque recusandae aut labore ab enim.
</div>
