<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/06_grid" target="_blank">Target</a>
</p>

<p>
  You can use <a href="https://getbootstrap.com/docs/5.3/components/alerts/" target="_blank">Alerts</a> for the colored boxes within each cell.
</p>
