<p>
  <a href="https://bootstrap-levels.matchthetarget.com/targets/card" target="_blank">Target</a>
</p>

<div class="wrapper">

  <!-- Present the following content in a card. -->

  <img src="/img/3.jpeg">
  
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, iure laborum id vitae eius enim doloremque! At tempore iusto autem velit quas, voluptatem, fugit cumque, aspernatur voluptate delectus assumenda dolorem.</p>

  <ul>
    <li>Mercury</li>
    <li>Venus</li>
    <li>Earth</li>
    <li>Mars</li>
    <li>Jupiter</li>
    <li>Saturn</li>
    <li>Uranus</li>
    <li>Neptune</li>
    <li>Pluto</li>
  </ul>

</div>

<style>
  .wrapper {
    width: 400px;
    max-width: 100%;
  }
</style>
