<p>
  <a href="https://bootstrap-levels.matchthetarget.com/targets/dynamic_list_group" target="_blank">Target</a>
</p>

<%# The below code creates an array of 10 random names %>
<%= names = Array.new(10) { Faker::Name.unique.name  } %>
