<b>Follow the instructions <a href="https://learn.firstdraft.com/lessons/139-intro-to-bootstrap" target="_blank">in this lesson</a>, and make your pages match the target: <a href="https://bootstrap-levels.matchthetarget.com/" target="_blank">bootstrap-levels.matchthetarget.com</a>.</b>

<p>
  Here are quick links to each of the pages for you to edit. Find the corresponding view templates in your codespace within the <code>app/views/levels/[LEVEL-NAME].html.erb</code> file:
</p>

<ol>
  <li><a href="/levels/primary_button">Primary button</a> (The route: <code>/levels/primary_buttons</code>)</li>
  <li><a href="/levels/other_buttons">Other buttons</a> (The route: <code>/levels/other_buttons</code>)</li>
  <li><a href="/levels/utility_classes">Utility classes</a> (The route: <code>/levels/utility_classes</code>)</li>
  <li><a href="/levels/card">Card</a> (The route: <code>/levels/card</code>)</li>
  <li><a href="/levels/modal">Modal</a> (The route: <code>/levels/modal</code>)</li>
  <li><a href="/levels/navbar">Navbar</a> (The route: <code>/levels/navbar</code>)</li>
  <li><a href="/levels/grid">Grid</a> (The route: <code>/levels/grid</code>)</li>
  <li><a href="/levels/dynamic_list_group">Dynamic list group</a> (The route: <code>/levels/dynamic_list_group</code>)</li>
</ol>
