<p>
  <a href="https://bootstrap-levels.matchthetarget.com/targets/navbar" target="_blank">Target</a>
</p>

<!-- Add your code to create a navbar here. -->

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, at soluta porro tenetur, expedita mollitia fugit minima quibusdam ipsum dolores odit quaerat quisquam iste, reiciendis et maiores quam dolore neque.</p>
