<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap Levels</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Add your stylesheets here -->

  </head>

  <body>
    <div class="container py-5">
      <a href="/">Return to the homepage</a>

      <hr>
      
      <%= yield %>
    </div>
  </body>
</html>
